* {
    font-family: Futura, Helvetica, Arial, sans-serif;
    /*background: #333333;*/
    margin: 0;
    padding: 0;
    cursor: none;

}

body,html,Canvas {
    width: 100%;
    height: 200vh;
    /*background-color: #000000;*/
    background: rgb(19, 19, 19);
}

.inner-cursor{
    position: fixed;
    left: 10px;
    width: 5px;
    height: 5px;
    transform-origin: center;
    transform: translate(-50%, -50%) rotate(0deg);
    background-color: #ffffff;
    mix-blend-mode: difference;
    /*border-radius: 50%;*/
    pointer-events: none;
    transition:width 0.5s, height 0.5s;

}
.inner-cursor.grow {
    width: 20px;
    height: 20px;
    transition: width 0.5s, height 0.5s;
    transform: translate(-50%, -50%) rotate(45deg);

}
.outer-cursor {
    position: fixed;
    left: 10px;
    width: 20px;
    height: 20px;
    transform: translate(-50%, -50%);
    border: 1px solid #ffffff;
    mix-blend-mode: difference;
    /*border-radius: 50%;*/
    pointer-events: none;
    /*transition: 0.03s;*/ /*Delay behind small cursor*/
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s; /*.03s is optional delay before animation*/

}
.outer-cursor.rotate {
    transform: translate(-50%, -50%) rotate(45deg);
}

header{
    background: rgba(0, 0, 0, 0.4);
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw; /* full viewport width */
    z-index: 10; /* ensure it stays above content */
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;

}

.masthead{
    margin-left: 1em;
    padding-left: 1em;
    padding-right: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.masthead-link{
    color: rgb(240, 240, 240, .6);
    border-bottom: .25rem solid transparent;
}

.masthead-active{
    color: #fff;
}

.masthead .masthead-link + .masthead-link{
    margin-left: .2em;
}

.masthead-link:hover,
.masthead-link:focus,
.masthead-link-footer:hover,
.masthead-link-footer:focus{
    color: rgba(255, 255, 255, 0.8);
}

.btn{
    color: #cfcfcf;
    /*background: #fbfbfb;*/
    /*border: #f9f9f9;*/
    cursor: none;
}

.masthead-link-footer{
    color: rgb(69, 154, 255);
    border-bottom: .25rem solid transparent;
}

.container{
    max-width: 84em;

}

@property --clr-1 {
    syntax:'<color>';
    initial-value: #6412df;
    inherits: true;
}
@property --clr-2 {
    syntax:'<color>';
    initial-value: #8B01F499;
    inherits: true;
}
@property --clr-3 {
    syntax:'<color>';
    initial-value: #560ac1;
    inherits: true;
}
@property --clr-4 {
    syntax:'<color>';
    initial-value: #be8eff;
    inherits: true;
}
@property --clr-5 {
    syntax:'<color>';
    initial-value: #8f42e6;
    inherits: true;
}
@property --clr-6 {
    syntax:'<color>';
    initial-value: #582ca1;
    inherits: true;
}
@property --glow-deg {
    syntax:'<angle>';
    inherits: true;
    initial-value: -90deg;
}

.glowing-border{
    --gradient-glow:
    var(--clr-1),
    var(--clr-2),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-6),
    var(--clr-1)
;
    --gradient-colors: conic-gradient(from var(--glow-deg), var(--gradient-glow));
    --border-width: 2px;

    border: var(--border-width) solid transparent;
    border-radius: 50vw 50vw 50vw;
    /*border-left: 0;*/ /*to remove border*/
    background: linear-gradient(Canvas 0 0) padding-box, var(--gradient-colors) border-box;

    position: relative;
    isolation: isolate;

    animation: glow 10s infinite linear;

}

@keyframes glow {
    100%{
        --glow-deg: 270deg;
    }
}

.glowing-border::before,
.glowing-border::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}

.glowing-border::before{
    z-index: -1;
    background: rgb(19, 19, 19);
    inset: .3rem;
    filter: blur(.4rem);
}

.glowing-border::after{
    z-index: -2;
    inset: -0.05rem;
    background: var(--gradient-colors);
    filter: blur(.5rem);
    opacity: 0.5;

}